* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  width: 90%;
  margin-left: 5%;
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}
header .left {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .left h1 {
  color: #58A9A5;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 800;
  line-height: 52.5px;
  text-align: left;
}
header .midle {
  list-style-type: none;
  display: flex;
  gap: 85px;
  align-items: center;
}
header .midle li a {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  text-align: left;
}
header .midle li .line {
  opacity: 0;
  margin-left: 15%;
  width: 50px;
  height: 4px;
  border-radius: 15px;
  background-color: #FEC62D;
}
header .midle li .line_sec {
  opacity: 0;
  margin-left: 30%;
  width: 50px;
  height: 4px;
  border-radius: 15px;
  background-color: #FEC62D;
}
header .midle li .line_therd {
  opacity: 0;
  margin-left: 28%;
  width: 50px;
  height: 4px;
  border-radius: 15px;
  background-color: #FEC62D;
}
header .midle li .line_fourth {
  opacity: 0;
  margin-left: 26%;
  width: 50px;
  height: 4px;
  border-radius: 15px;
  background-color: #FEC62D;
}
header .midle li:hover a {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  text-align: left;
  color: #58A9A5;
}
header .midle li:hover .line,
header .midle li:hover .line_sec,
header .midle li:hover .line_therd,
header .midle li:hover .line_fourth {
  opacity: 1;
}
header .right button {
  background-color: #58A9A5;
  border: 0;
  width: 250px;
  height: 80px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: left;
  color: white;
}
header .right button:active {
  opacity: 0.9;
  scale: 0.9;
  transition: 0.2s;
}

.sec_one {
  width: 90%;
  margin-left: 5%;
  display: flex;
  gap: 70px;
  justify-content: space-between;
  margin-bottom: 120px;
}
.sec_one .left h1 {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 800;
  line-height: 105px;
  text-align: left;
  margin-bottom: 50px;
}
.sec_one .left p {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  margin-bottom: 50px;
}
.sec_one .left button {
  background-color: #58A9A5;
  width: 271px;
  height: 80px;
  border-radius: 20px 20px 20px 0px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: white;
  font-weight: 700;
  line-height: 37.5px;
  text-align: center;
}
.sec_one .right {
  background-color: #CCF0E6;
  border-radius: 300px;
}
.sec_one .right img {
  width: 700px;
}

.sec_three {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 150px;
}
.sec_three h1 {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 800;
  line-height: 105px;
  text-align: center;
  margin-bottom: 20px;
}
.sec_three p {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  margin-bottom: 70px;
}
.sec_three .box {
  display: flex;
  gap: 0px;
  width: 100%;
  position: relative;
}
.sec_three .box .play {
  width: 100px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  border: 10px solid rgba(234, 234, 234, 0.582);
  border-radius: 50%;
  position: absolute;
  right: 31%;
  bottom: 5%;
}
.sec_three .box .left {
  width: 65%;
}
.sec_three .box .left img {
  width: 100%;
  border-radius: 15px;
}
.sec_three .box .right {
  border-radius: 15px;
  z-index: -1;
  width: 35%;
  background-color: #CCF0E6;
}
.sec_three .box .right p {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  margin-bottom: 40px;
}
.sec_three .box .right h6 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #486958;
  display: flex;
  justify-content: center;
}

.sec_four {
  width: 90%;
  margin-left: 5%;
  display: flex;
  gap: 150px;
  margin-bottom: 120px;
}
.sec_four .right h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  margin-bottom: 50px;
}
.sec_four .right p {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  text-align: left;
  color: #486958;
}

.sec_five {
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 250px;
}
.sec_five h1 {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 800;
  line-height: 105px;
  text-align: center;
  margin-bottom: 20px;
}
.sec_five p {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  margin-bottom: 50px;
}
.sec_five .boxes {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.sec_five .boxes .box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sec_five .boxes .box .line {
  width: 140px;
  height: 5px;
  border-radius: 15px;
  background-color: #58A9A5;
}
.sec_five .big_box {
  display: flex;
  gap: 100px;
}
.sec_five .big_box .left h1,
.sec_five .big_box .midle h1,
.sec_five .big_box .right h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  color: #58A9A5;
  margin-bottom: 5px;
  scale: 0.9;
}
.sec_five .big_box .left p,
.sec_five .big_box .midle p,
.sec_five .big_box .right p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #486958;
  margin-bottom: 35px;
  scale: 0.9;
}
.sec_five .big_box .left img,
.sec_five .big_box .midle img,
.sec_five .big_box .right img {
  margin-bottom: 30px;
  scale: 0.9;
}

.sec_six {
  width: 95%;
  margin-left: 2.5%;
}
.sec_six h1 {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 30px;
}
.sec_six .box {
  display: flex;
  justify-content: center;
  gap: 90px;
  align-items: center;
  margin-bottom: 60px;
}
.sec_six .sec_box {
  width: 95%;
  margin-left: 2.5%;
  display: flex;
}
.sec_six .sec_box .right {
  width: 70%;
  background-color: #CCF0E6;
  padding-top: 70px;
}
.sec_six .sec_box .right .box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
.sec_six .sec_box .right .box h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-align: left;
  line-height: 45px;
  color: #58A9A5;
}
.sec_six .sec_box .right .box span {
  font-size: 70px;
}
.sec_six .sec_box .right h6 {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: left;
  color: #486958;
  margin-bottom: 50px;
}
.sec_six .sec_box .right p {
  padding-left: 70px;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: italic;
  font-weight: 500;
  line-height: 37.5px;
  text-align: left;
  color: #58A9A5;
}/*# sourceMappingURL=App.css.map */